apiVersion: v1
kind: Service
metadata: 
  name: product-service
  namespace: blink
  labels: 
    app: product-service
spec:
  type: ClusterIP
  ports:
  - port: 8082
    targetPort: 8082
  selector:
    app: product-service