spring:
  data:
    mongodb:
      uri: ${SPRING_DATA_MONGODB_URI}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICEURL_DEFAULTZONE}
  instance:
    prefer-ip-address: true
    hostname: user-service

jwt:
  secret: ${JWT_SECRET}