server:
  port: 8081

spring:
  application:
    name: user-service
    mongodb:
      uri: mongodb://localhost:27017/blink_users

jwt:
  secret: ${JWT_SECRET:mySecretKeyForJWTTokenGenerationMinimum256BitsLong123456789}
  expiration: 36000 

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
