apiVersion: apps/v1
kind: Deployment
metadata:
  name: cart-service
  namespace: blink
  labels:
    app: cart-service
spec:
  replicas: 2
  selector:
    matchLabels: 
      app: cart-service
  template:
    metadata:
      labels:
        app: cart-service
    spec:
      containers:
      - name: cart-service
        image: blink-cart-service:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8083
        envFrom:
        - configMapRef:
            name: cart-service-config
        env: 
        - name: SPRING_DATA_REDIS_PASSWORD
          valueFrom:
            secretKeyRef: 
              name: redis-secret
              key: redis-password
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /actuator/health/liveness
            port: 8083
          initialDelaySeconds: 60
          periodSeconds:  10
        readinessProbe:
          httpGet:
            path: /actuator/health/readiness
            port: 8083
          initialDelaySeconds: 30
          periodSeconds:  5