apiVersion: v1
kind: Service
metadata:
  name: cart-service
  namespace: blink
  labels:
    app: cart-service
spec:
  type: ClusterIP
  ports:
  - port: 8083
    targetPort: 8083
  selector:
    app: cart-service