apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: blink
  labels:
    app: notification-service
spec:
  replicas: 2
  selector: 
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers: 
      - name: notification-service
        image: blink-notification-service:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8085
        envFrom:
        - configMapRef:
            name: notification-service-config
        env:
        - name: SPRING_DATA_MONGODB_USERNAME
          valueFrom:
            secretKeyRef: 
              name: mongodb-secret
              key: mongo-root-username
        - name: SPRING_DATA_MONGODB_PASSWORD
          valueFrom:
            secretKeyRef: 
              name: mongodb-secret
              key: mongo-root-password
        resources:
          requests: 
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory:  "512Mi"
            cpu:  "500m"
        livenessProbe:
          httpGet:
            path: /actuator/health/liveness
            port: 8085
          initialDelaySeconds: 60
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /actuator/health/readiness
            port: 8085
          initialDelaySeconds: 30
          periodSeconds: 5