apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: blink
  labels: 
    app: notification-service
spec:
  type: ClusterIP
  ports:
  - port: 8085
    targetPort: 8085
  selector: 
    app: notification-service