server:
  port: 8083

spring:
  application:
    name: cart-service
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 60000

cart:
  expiration-days: 7

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info

# Logging
logging:
  level:
    com.ecommerce.cart: DEBUG