apiVersion: v1
kind: Service
metadata: 
  name: user-service
  namespace: blink
  labels:
    app: user-service
spec:
  type: ClusterIP
  ports:
  - port: 8081
    targetPort: 8081
  selector:
    app: user-service